.wall {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.wall h2 {
  font-size: 44px;
  text-align: center;
  margin: 50px 0 0 50px;
  text-shadow: 8px 0 3px #ffa861;
}
@media only screen and (max-width: 1000px) {
  .wall h2 {
    font-size: 33px;
    text-align: center;
    margin: 50px 0;
  }
  .wall img {
    width: 400px;
  }
}
@media only screen and (max-width: 560px) {
  .wall h2 {
    font-size: 27px;
    text-align: center;
    margin: 20px 0;
  }
  .wall img {
    width: 300px;
  }
}
