.inputField {
  border: solid 2px grey;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin-right: 10px;
  font-size: 18px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}
