<ng-container *ngTemplateOutlet="buttonConfig['src'] ? image : text">
</ng-container>

<ng-template #text>
    <button 
        type="{{buttonConfig.type}}" 
        [ngStyle]="buttonConfig.styles" 
        (click)="buttonClickEvent()" 
        class="btn"
        [disabled]="buttonConfig.disabled"
        >
        {{ buttonConfig.text }}
    </button>
</ng-template>

<ng-template #image>
    <button 
        type="{{buttonConfig.type}}" 
        [ngStyle]="buttonConfig.styles" 
        (click)="buttonClickEvent()" 
        class="btn-withImg">
        <img [src]="buttonConfig.src" alt="image button">
        {{ buttonConfig.text }}
    </button>
</ng-template>