.btn,
.btn-withImg {
  border-radius: 3px;
  border: none;
  height: 30px;
  width: 50px;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Source Sans Pro Semibold", sans-serif;
  text-transform: none;
}
.btn-withImg {
  display: flex;
  align-items: center;
  img {
    margin: 4px;
  }
}
