button {
  padding: 10px 10px;
  font-size: 18px;
  border: solid 2px #00798b;
  border-radius: 10px;
  background-color: rgba(90, 197, 216, 0.2);
  text-shadow: 2px 2px 2px white;
  cursor: pointer;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px 0px #00798b;
}
