.input-authors {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro Semibold", sans-serif;
  width: 315px;

  .input-authors__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px 0 8px;

    p {
      font-size: 14px;
      color: #858997;
      margin: 0;
    }
  }

  .input-authors__field {
    box-sizing: border-box;
    height: 40px;
    padding: 0 10px;
    border-radius: 6px;
    border: 1px solid #ced0db;

    &::placeholder {
      color: #acafbf;
      font-size: 14px;
      padding-top: 8px;
    }
  }
}
