<div [ngStyle]="inputConfig.styles" class="input-authors">
    <div class="input-authors__title">
        <label for="{{ inputConfig.labelFor }}">
            {{ inputConfig.text }}
        </label>
        <p><sup>*</sup>required</p>
    </div>
    <input 
        class="input-authors__field" 
        type="{{ inputConfig.type }}" 
        id="{{ inputConfig.id }}"
        placeholder="{{ inputConfig.placeholder }}" 
        [formControl]="val"
    >
</div>