button {
  padding: 10px 10px;
  font-size: 18px;
  border: solid 2px rgb(185, 183, 255);
  border-radius: 10px;
  background-color: rgb(235, 234, 255);
  text-shadow: 2px 2px 2px white;
}
button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px 0px rgb(185, 183, 255);
}
