article {
  border: solid 2px rgb(148, 201, 118);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
}
.courseTitl {
  flex-basis: 70%;
  padding: 10px;
}
.courseTitle h2 {
  margin: 16px 0 30px 0;
}
.courseInfo {
  flex-basis: 30%;
  padding: 10px;
}
.lineBreak {
  white-space: nowrap;
  width: 270px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.buttonBlock {
  display: flex;
  justify-content: center;
}
.deleteButton {
  background: no-repeat center/cover url("../../../../common/img/delete.png");
  background-color: rgb(235, 234, 255);
  width: 45px;
  height: 45px;
  margin: 0 10px;
}
.updateButton {
  background: no-repeat center/cover url("../../../../common/img/update.png");
  background-color: rgb(235, 234, 255);
  width: 45px;
  height: 45px;
  margin: 0 10px 0 20px;
}
