.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin: 0 auto;
}
.regForm input {
  margin: 10px 0;
}
.regForm label {
  font-size: 16px;
  align-self: flex-start;
}
.reg {
  color: rgb(180, 0, 0);
  text-align: center;
}
