.logForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin: 0 auto;
}
.logForm input {
  margin: 10px 0;
}
.logForm label {
  font-size: 16px;
  align-self: flex-start;
}
.logForm button {
  width: 120px;
}
.log {
  color: rgb(180, 0, 0);
  text-align: center;
}
