.windowWidth {
  width: 100%;
}
.moreSpace {
  display: none;
}
.window {
  margin: 0 auto;
  width: 1000px;
  height: 809px;
  background: no-repeat center url("../icons/window.jpg");
  background-size: contain;
  position: relative;
}
.rimska1,
.rimska2,
.rimska3,
.rimska4 {
  position: absolute;
  top: 12.5%;
  left: 12%;
  color: black;
}
.rimkaMoove1 {
  position: absolute;
  top: 27%;
  left: 12%;
  overflow: hidden;
  transition: all 0.8s ease-out;
}
.rimkaMoove2 {
  position: absolute;
  top: 41.5%;
  left: 12%;
  overflow: hidden;
  transition: all 1.5s ease-out;
}
.rimkaMoove3 {
  position: absolute;
  top: 56%;
  left: 12%;
  overflow: hidden;
  transition: all 2.2s ease-out;
}
.rimkaMoove4 {
  position: absolute;
  top: 70.5%;
  left: 12%;
  overflow: hidden;
  transition: all 2.8s ease-out;
}
.rimska0 {
  width: 374px;
  height: 121px;
  background: no-repeat center url("../icons/rimska0.png");
  background-size: contain;
  z-index: 5;
  position: absolute;
  top: 12.5%;
  left: 12%;
}
.rimskaOpen1,
.rimskaOpen2,
.rimskaOpen3 {
  width: 374px;
  height: 121px;
  background: no-repeat center url("../icons/rimska.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.rimskaOpen1 p,
.rimskaOpen2 p,
.rimskaOpen3 p,
.rimskaOpen4 p {
  width: 130px;
  text-align: center;
  font-size: 30px;
}
.service1,
.service2,
.service3,
.service4 {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.service1 {
  background: no-repeat center url("../icons/13a.png");
  background-size: contain;
}
.service2 {
  background: no-repeat center url("../icons/12a.png");
  background-size: contain;
}
.service3 {
  background: no-repeat center url("../icons/11a.png");
  background-size: contain;
}
.service4 {
  background: no-repeat center url("../icons/10a.png");
  background-size: contain;
}
.service1:hover {
  background: no-repeat center url("../icons/13.png");
  background-size: contain;
}
.service2:hover {
  background: no-repeat center url("../icons/12.png");
  background-size: contain;
}
.service3:hover {
  background: no-repeat center url("../icons/11.png");
  background-size: contain;
}
.service4:hover {
  background: no-repeat center url("../icons/10.png");
  background-size: contain;
}
.rimskaOpen2 {
  z-index: 3;
}
.rimskaOpen3 {
  z-index: 2;
}
.rimskaOpen4 {
  width: 374px;
  height: 134px;
  background: no-repeat center url("../icons/rimskaClosed.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.aboutWindow {
  text-align: center;
  font-size: 28px;
  width: 100%;
}
.aboutWindowWidth {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  position: relative;
}
.aboutRimska1,
.aboutRimska2,
.aboutRimska3,
.aboutRimska4 {
  display: none;
}
.aboutRimska1,
.aboutRimska2,
.aboutRimska3,
.aboutRimska4 {
  position: absolute;
  top: 47%;
  left: 71%;
}
.aboutRimska1 > p:first-child {
  text-shadow: #5ac5d8 2px 0 3px;
}
.textForm {
  border-radius: 10px;
  width: 285px;
  height: 20px;
  padding: 5px;
  border: solid 2px rgb(83, 83, 83);
}
.dateForm {
  box-sizing: border-box;
  border-radius: 10px;
  width: 145px;
  height: 34px;
  padding: 5px;
  border: solid 2px rgb(83, 83, 83);
}
.textForm:focus,
.dateForm:focus {
  outline: none;
  border: solid 2px black;
}
.aboutRimska2 > p:first-child,
.aboutRimska3 > p:first-child,
.aboutRimska4 > p:nth-child(2n) {
  text-shadow: #5ac5d8 2px 0 3px;
}
.aboutRimska4 img {
  border-radius: 10px;
}
.buttonForm {
  background-color: #5ac5d8;
  width: 120px;
  height: 35px;
  font-family: "Amatic SC";
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  text-shadow: white 0 0 5px;
}
.aboutWindow p {
  margin: 20px 0 0 0;
}
.callSoon {
  width: 299px;
  margin: 10px 0;
  background-color: white;
  box-shadow: inset 0px 0px 10px #5ac5d8;
}
#formBlock label {
  font-size: 20px;
  margin: 0 30px;
}
button {
  margin-top: 20px;
}
@media only screen and (max-width: 1000px) {
  .window {
    width: 670px;
    height: 542px;
  }
  .rimska0 {
    width: 252px;
    height: 81px;
    position: absolute;
  }
  .rimskaOpen1,
  .rimskaOpen2,
  .rimskaOpen3 {
    width: 252px;
    height: 81px;
  }
  .rimskaOpen1 p,
  .rimskaOpen2 p,
  .rimskaOpen3 p,
  .rimskaOpen4 p {
    width: 130px;
    text-align: center;
    font-size: 24px;
  }
  .service1,
  .service2,
  .service3,
  .service4 {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .rimskaOpen4 {
    width: 252px;
    height: 87px;
  }
  .aboutWindow {
    text-align: center;
    font-size: 22px;
    width: 100%;
  }
  .aboutWindowWidth {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    position: relative;
  }
  .aboutRimska1,
  .aboutRimska2,
  .aboutRimska3,
  .aboutRimska4 {
    position: absolute;
    top: 60%;
    left: 70%;
  }
  .aboutRimska1 img,
  .aboutRimska2 img,
  .aboutRimska3 img,
  .aboutRimska4 img {
    width: 185px;
  }

  .textForm {
    border-radius: 10px;
    width: 170px;
    height: 20px;
    padding: 5px;
    border: solid 2px rgb(83, 83, 83);
  }
  .dateForm {
    box-sizing: border-box;
    border-radius: 10px;
    width: 80px;
    height: 34px;
    padding: 5px;
    margin: 0 5px;
    border: solid 2px rgb(83, 83, 83);
  }
  .aboutWindow p {
    margin: 20px 0 0 0;
  }
  #formBlock label {
    font-size: 20px;
    margin: 0 10px;
  }
  button {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    font-family: "Amatic SC";
    font-size: 22px;
  }
  .pMobile {
    display: none;
  }
}
@media only screen and (max-width: 650px) {
  .window {
    margin: 0 auto;
    width: 281px;
    height: 452px;
    background: no-repeat center url("../icons/windowLittle.jpg");
    background-size: contain;
    position: relative;
  }
  .rimska0 {
    top: 5%;
    left: 6.2%;
  }
  .rimska1,
  .rimska2,
  .rimska3,
  .rimska4 {
    position: absolute;
    top: 5%;
    left: 6.2%;
    color: black;
  }
  .rimkaMoove1 {
    top: 22%;
    left: 6.2%;
  }
  .rimkaMoove2 {
    top: 39%;
    left: 6.2%;
  }
  .rimkaMoove3 {
    top: 56.3%;
    left: 6.2%;
  }
  .rimkaMoove4 {
    top: 73.8%;
    left: 6.2%;
  }
  .moreSpace {
    display: block;
    height: 300px;
    width: 300px;
    position: relative;
  }
  .aboutRimska1 {
    position: absolute;
    top: 450px;
    left: 5px;
    padding: 4px;
    z-index: 1000;
    background-color: white;
  }
  .aboutRimska2,
  .aboutRimska3,
  .aboutRimska4 {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
