.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.social,
.telephone {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  width: 350px;
}
.social .user_button:hover {
  background-image: url("./icons/user.png");
}
.phone:hover {
  background-image: url("../../common/icons/phone.png");
  cursor: pointer;
}
.callMe {
  background: rgb(202, 241, 247);
  text-shadow: #ffffff 3px 0 3px;
  color: #00434e;
  border-radius: 10px;
  border: 2px solid #00434e;
  width: 230px;
  box-shadow: inset 0px 0px 10px #00434e;
}
.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 230px;
}
.callMe p {
  font-size: 27px;
  margin: 10px;
  text-align: center;
}
.personsNumber {
  border-radius: 5px;
  font-family: "Amatic SC";
  font-size: 22px;
  margin: 0 5px 10px 10px;
  padding: 5px;
  border: solid 2px rgb(83, 83, 83);
}
.personsNumber:focus {
  border-color: black;
}
.sendButton {
  border-radius: 5px;
  background-color: white;
  font-family: "Amatic SC";
  font-size: 22px;
  margin: 0 10px 10px 0;
  cursor: pointer;
  padding: 5px;
  border: solid 2px rgb(83, 83, 83);
}
.sendButton:hover {
  box-shadow: inset 0px 0px 10px #00434e;
}
.callYou {
  margin: 0 10px 10px;
  width: 210px;
  padding: 5px;
  text-align: center;
}
.instagram:hover {
  background-image: url("../../common/icons/instagram.png");
}
.facebook:hover {
  background-image: url("../../common/icons/facebook.png");
}
.navigator {
  position: relative;
}
.nav {
  display: flex;
  justify-content: center;
  background: no-repeat center url("./icons/line.png");
  background-size: contain;
}
.nav a {
  margin: 10px 50px;
  font-size: 30px;
  color: white;
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline dotted;
}
.nav a:active {
  text-shadow: #00434e 1px 0 10px, white 1px 0 2px;
}

.mobileMenu {
  display: none;
}
.menuClose {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(110, 110, 110);
  box-shadow: 0 0 8px rgb(180, 180, 180);
  border-radius: 10px;
  font-size: inherit;
  background-color: white;
  margin: 0;
}
.menuClose:hover,
.menuClose:active {
  box-shadow: 0 0 8px rgb(83, 83, 83);
  cursor: pointer;
  background-color: white;
}

.line1,
.line2 {
  position: absolute;
  width: 34px;
  height: 4px;
  background-color: rgb(110, 110, 110);
  margin: 5px 0;
  border-radius: 50px;
  transition: all 0.5s;
}
.line1 {
  top: 1em;
}
.line2 {
  bottom: 1em;
}
.line1Open,
.line2Open {
  transition: all 0.5s;
}
.line1Open {
  top: 1.3em;
  transform: rotate(45deg);
}
.line2Open {
  bottom: 1.3em;
  transform: rotate(-45deg);
}

.menuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3px 0;
  position: absolute;
  z-index: 1000;
}
.menuList a {
  text-align: left;
  text-decoration: none;
  width: 3em;
  font-size: 35px;
  background-color: white;
  color: black;
  border: 2px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding: 5px 10px;
  transition: background-color 2s, width 2s;
}
.menuList a:hover {
  width: 4em;
  border: 2px solid rgb(110, 110, 110);
  box-shadow: 0 0 8px rgb(110, 110, 110);
  text-shadow: 0 0 3px rgb(255, 255, 255);
  background-color: rgba(90, 197, 216);
}

@media only screen and (max-width: 1270px) {
  .logo a img {
    width: 450px;
  }
  .telephone img,
  .user_button {
    display: none;
  }
  .telephone,
  .social {
    width: 230px;
    margin: 10px;
  }
}
@media only screen and (max-width: 1000px) {
  .head {
    justify-content: center;
  }
  .telephone,
  .social {
    display: none;
  }
  .logo a img {
    width: 450px;
  }
  .nav {
    background: no-repeat center url("./icons/lineMini.png");
    background-size: contain;
  }
  .nav a {
    padding: 0 10px;
    margin: 10px;
    color: white;
  }
}
@media only screen and (max-width: 700px) {
  .logo a img {
    width: 350px;
  }
  .nav a {
    padding: 0;
    font-size: 27px;
  }
}
@media only screen and (max-width: 560px) {
  .nav {
    display: none;
  }
  .logo a img {
    width: 300px;
  }
  .mobileMenu {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
  }
}
@media only screen and (max-width: 400px) {
  .logo a img {
    width: 250px;
  }
}
