.logForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin: 50px auto;
}
.logForm input {
  margin: 10px 0;
}
.logForm label {
  font-size: 22px;
  align-self: flex-start;
}
.logForm h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
.logForm button {
  width: 120px;
  font-family: "Amatic SC";
  font-size: 22px;
}
.log {
  color: rgb(180, 0, 0);
  text-align: center;
}
.regLink {
  font-size: 22px;
  text-align: center;
}
