.courseInfoStyle {
  text-align: center;
}
.courseInfoMain {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}
.courseInfoS {
  padding: 10px;
  margin: 10px;
  border: solid 2px grey;
  border-radius: 10px;
}
.courseInfoMain > p {
  flex-basis: 70%;
  padding: 0 20px;
}
