.regForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  margin: 50px auto;
}
.regForm input {
  margin: 10px 0;
}
.regForm label {
  font-size: 22px;
  align-self: flex-start;
}
.reg {
  color: rgb(180, 0, 0);
  text-align: center;
}
.regForm h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
.regForm button {
  width: 120px;
  font-family: "Amatic SC";
  font-size: 22px;
}
.logLink {
  font-size: 22px;
  text-align: center;
}
