header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 2px grey;
  border-radius: 10px;
}
.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h3 {
  margin: 0 10px;
}
.user button,
header button {
  width: 120px;
}
