.window02 {
  margin: 0 auto;
  width: 1000px;
  height: 809px;
  background: no-repeat center url("../icons/window.jpg");
  background-size: contain;
  position: relative;
}
.rimska5,
.rimska6,
.rimska7 {
  position: absolute;
  top: 12.5%;
  left: 12%;
}
.rimkaMoove5 {
  position: absolute;
  top: 27%;
  left: 12%;
  overflow: hidden;
  transition: all 0.8s ease-out;
}
.rimkaMoove6 {
  position: absolute;
  top: 41.5%;
  left: 12%;
  overflow: hidden;
  transition: all 1.5s ease-out;
}
.rimkaMoove7 {
  position: absolute;
  top: 55.7%;
  left: 12%;
  overflow: hidden;
  transition: all 2.2s ease-out;
}
.rimska02 {
  width: 374px;
  height: 121px;
  background: no-repeat center url("../icons/rimska0.png");
  background-size: contain;
  z-index: 5;
  position: absolute;
  top: 12.5%;
  left: 12%;
}
.rimskaOpen5,
.rimskaOpen6 {
  width: 374px;
  height: 121px;
  background: no-repeat center url("../icons/rimska.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.rimskaOpen5 p,
.rimskaOpen6 p,
.rimskaOpen7 p {
  width: 130px;
  text-align: center;
  font-size: 30px;
}
.service5,
.service6,
.service7 {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.service5 {
  background: no-repeat center url("../icons/9a.png");
  background-size: contain;
}
.service6 {
  background: no-repeat center url("../icons/8a.png");
  background-size: contain;
}
.service7 {
  background: no-repeat center url("../icons/7a.png");
  background-size: contain;
}
.service5:hover {
  background: no-repeat center url("../icons/9.png");
  background-size: contain;
}
.service6:hover {
  background: no-repeat center url("../icons/8.png");
  background-size: contain;
}
.service7:hover {
  background: no-repeat center url("../icons/7.png");
  background-size: contain;
}
.rimskaOpen6 {
  z-index: 3;
}
.rimskaOpen7 {
  z-index: 2;
}
.rimskaOpen7 {
  width: 374px;
  height: 134px;
  background: no-repeat center url("../icons/rimskaClosed.png");
  background-size: contain;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.aboutWindow02 {
  text-align: center;
  font-size: 30px;
  width: 100%;
}
.aboutWindowWidth02 {
  margin: 0 auto;
  width: 300px;
  height: 500px;
}
.aboutRimska5,
.aboutRimska6,
.aboutRimska7 {
  display: none;
}
.aboutRimska5 {
  position: absolute;
  top: 34%;
  left: 56.3%;
}
.aboutRimska6 {
  position: absolute;
  top: 30%;
  left: 56%;
}
.aboutRimska5 img,
.aboutRimska6 img,
.aboutRimska7 img {
  border-radius: 10px;
}
.aboutRimska5 > p:first-child {
  text-shadow: #5ac5d8 2px 0 3px;
}
.aboutChild {
  text-shadow: #5ac5d8 2px 0 3px;
}
.aboutRimska6 p {
  margin: 5px;
  font-size: 24px;
}
.aboutRimska7 {
  position: absolute;
  top: 27%;
  left: 56.3%;
}
@media only screen and (max-width: 1000px) {
  .window02 {
    width: 670px;
    height: 542px;
  }

  .rimska02 {
    width: 252px;
    height: 81px;
    position: absolute;
  }
  .rimskaOpen5,
  .rimskaOpen6 {
    width: 252px;
    height: 81px;
  }
  .rimskaOpen5 p,
  .rimskaOpen6 p,
  .rimskaOpen7 p {
    width: 130px;
    text-align: center;
    font-size: 24px;
  }
  .service5,
  .service6,
  .service7 {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .rimskaOpen7 {
    width: 252px;
    height: 87px;
  }

  .aboutWindow02 {
    text-align: center;
    font-size: 22px;
    width: 100%;
  }
  .aboutWindowWidth02 {
    margin: 0 auto;
    width: 250px;
    height: 250px;
  }
  .aboutRimska6 p {
    margin: 5px;
    font-size: 24px;
  }
  .aboutRimska5 img,
  .aboutRimska6 img,
  .aboutRimska7 img {
    width: 185px;
  }

  .aboutRimska5 {
    top: 34%;
    left: 57%;
  }
  .aboutRimska6 {
    top: 32%;
    left: 57.5%;
  }
  .aboutRimska7 {
    top: 27%;
    left: 57.5%;
  }
}

@media only screen and (max-width: 650px) {
  .window02 {
    margin: 0 auto;
    width: 281px;
    height: 452px;
    background: no-repeat center url("../icons/windowLittle.jpg");
    background-size: contain;
    position: relative;
  }
  .rimska02 {
    top: 5%;
    left: 6.2%;
  }
  .rimska5,
  .rimska6,
  .rimska7 {
    position: absolute;
    top: 5%;
    left: 6.2%;
    color: black;
  }
  .rimkaMoove5 {
    top: 22%;
    left: 6.2%;
  }
  .rimkaMoove6 {
    top: 39%;
    left: 6.2%;
  }
  .rimkaMoove7 {
    top: 56.3%;
    left: 6.2%;
  }
  .aboutRimska5,
  .aboutRimska6,
  .aboutRimska7 {
    position: absolute;
    top: 10px;
    left: 30px;
  }
}
