.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0 75px;
  font-size: 22px;
  flex-wrap: wrap;
}
.footer_phone img:hover {
  background-image: url("../../common/icons/phone.png");
}
.footer_mail img:hover {
  background-image: url("./icons/mail.png");
}
.footer_place img:hover {
  background-image: url("./icons/place.png");
}
.footer_instagram img:hover {
  background-image: url("../../common/icons/instagram.png");
}
.footer_facebook img:hover {
  background-image: url("../../common/icons/facebook.png");
}
.user_log {
  width: 118px;
  height: 115px;
}
.user_log img {
  width: 118px;
  height: 110px;
}
.user_log img:hover {
  background-image: url("./icons/user.png");
}
.footer_phone,
.footer_mail,
.footer_place {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer_goUp {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
}

@media only screen and (max-width: 1270px) {
  .footer_goUp img {
    width: 60px;
    height: 60px;
  }
}
