.login {
  height: 600px;
  background-color: #f5f6fa;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h2 {
      margin-top: 0;
    }

    .login__title_wrong {
      color: rgb(190, 0, 0);
      font-size: 14px;
      margin-top: 0;
    }
  }

  form {
    box-sizing: border-box;
    width: 400px;
    height: 330px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
      0 2px 10px 0 rgba(29, 30, 38, 0.15);
    padding: 20px;

    input {
      width: 360px;
      box-sizing: border-box;
      height: 40px;
      padding-left: 10px;
      border-radius: 6px;
      border: 1px solid #ced0db;

      &::placeholder {
        color: #acafbf;
      }
    }
  }

  .login__email_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 14px;
      color: #858997;
    }
  }

  .login__password_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 14px;
      color: #858997;
    }
  }

  .login__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 14px;
    }

    .login__buttons_submit {
      font-size: 14px;
      background-color: #ced0db;
      font-family: "Source Sans Pro Regular", sans-serif;
      height: 35px;
      width: 75px;
      color: #858997;
      margin-top: 20px;
      border-radius: 3px;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      text-transform: none;
    }

    .login__buttons_submit_green {
      background-color: #67a300;
      color: white;
    }
  }
}
