<div class="login">
    <form #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">

        <div class="login__title"> 
            <h2>Login</h2>
            <p *ngIf="email.invalid && email.touched || pass.invalid && pass.touched"
                class="login__title_wrong">
                Wrong e-mail or password
            </p>
        </div>

        <div ngModelGroup="user">
            <div class="login__email" >
                <div class="login__email_label">
                    <label for="email">E-mail:</label>
                    <p><sup>*</sup>required</p>
                </div>
                
                <input 
                    type="email" 
                    id="email" 
                    placeholder="Enter e-mail" 
                    ngModel 
                    name="email" 
                    class="login__email-input" 
                    required 
                    email
                    #email="ngModel">
            </div>

            <div class="login__password">
                <div class="login__password_label">
                    <label for="password">Password:</label>
                    <p><sup>*</sup>required</p>
                </div>

                <input type="password" 
                    id="password" 
                    placeholder="Enter password" 
                    ngModel
                    name="pass"
                    class="login__password-input"
                    required
                    #pass="ngModel"
                    >
            </div> 
        </div>
            
        <div class="login__buttons">
            <a href="#">Forgot password?</a>
            <button 
                type="submit" 
                class="login__buttons_submit"
                [ngClass]="email.valid && pass.valid ? 'login__buttons_submit_green' : ''"
                [disabled]="!loginForm.valid">
                Login
            </button>
        </div>

    </form>
</div>