.photoFrame {
  width: 320px;
  height: 350px;
  border: solid 3px rgb(126, 126, 126);
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  transition: 1s;
}
.photoFrame img {
  border: solid 3px rgb(126, 126, 126);
  border-radius: 10px;
}
.photoFrame a {
  text-decoration: none;
  text-align: center;
}
.photoFrame h2 {
  margin: 15px 0;
  font-size: 30px;
  color: rgb(126, 126, 126);
}
.photoFrame:hover {
  transform: rotate(-10deg);
  transition: 1s;
}
