<header class="header">
    <div class="header__position">
        <app-logo></app-logo>
        <div class="header__position_user" [ngClass]="shouldAuth ? '' : 'header__position_hide-login'">
            <app-button [buttonConfig]="logInBtnConfig"
                (buttonClickEmit)="clickedLogIn()">
            </app-button>
            <app-button [buttonConfig]="logOutBtnConfig" 
                (buttonClickEmit)="clickedLogOut()" 
                class="header__position_user_log-out">
            </app-button>
        </div>
    </div>
</header>