.header {
  display: flex;
  justify-content: center;
  background: #303240;
  height: 60px;

  .header__position {
    display: flex;
    justify-content: space-between;
    width: 90%;

    .header__position_hide-login {
      visibility: hidden;
    }

    .header__position_show-login {
      visibility: visible;
    }

    .header__position_user {
      display: flex;
      align-items: center;

      .header__position_user_block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
      }
    }
  }
}
