.courseTitle {
  height: 21px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px rgb(185, 183, 255);
  font-size: 16px;
}
.formCreate {
  border: solid 2px grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.courseDescription {
  border: solid 2px rgb(185, 183, 255);
  width: 97%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 16px;
}
.course {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.course button {
  float: right;
}
.course label {
  margin-right: 10px;
}
.newCourse {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  justify-items: center;
  border: solid 2px rgb(185, 183, 255);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
.newCourse h3 {
  text-align: center;
}
.newCourse input {
  font-size: 16px;
  padding: 10px;
}
.newCourse input {
  width: 300px;
  height: 21px;
  margin: 10px 0;
  border: solid 2px rgb(185, 183, 255);
  border-radius: 10px;
}
.newCourseAddAuthor button {
  margin: 0 auto;
  display: block;
}
.authorsLi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.authorsLi button {
  height: 30px;
  padding: 0 10px;
  margin: 0 10px 0 20px;
}
.authorsList,
.newCourseList {
  overflow-y: scroll;
  height: 225px;
  padding: 0;
}
.authorsName {
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.empty {
  text-align: center;
  margin-top: 10px;
}
.newCourseduration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newCourseduration input {
  margin: 10px auto;
}
