<div [ngStyle]="inputConfig.styles" class="input-date">
    <div class="input-date__title">
        <label for="{{ inputConfig.labelFor }}">
            {{ inputConfig.text }}
        </label>
        <p><sup>*</sup>required</p>
    </div>

    <input class="input-date__field" 
        type="{{ inputConfig.type }}" 
        id="{{ inputConfig.id }}"
        placeholder="{{ inputConfig.placeholder }}"
        [formControl]="val"
        >
</div>