footer {
  background: #303240;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;

  .copyright {
    line-height: 24px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Source Sans Pro Regular", sans-serif;
    height: 24px;
    width: 90%;
    text-align: right;
  }
}
