.logo {
  display: flex;
  align-items: center;
  .logo__name {
    margin-left: 18px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
  }
}
