<div [ngStyle]="inputConfig.styles" class="input-duration">
    <div class="input-duration__title">
        <label for="{{ inputConfig.labelFor }}">
            {{ inputConfig.text }}
        </label>
        <p><sup>*</sup>required</p>
    </div>
    <div class="input-duration__field">
        <input class="input-duration__field_input" 
            type="{{ inputConfig.type }}" 
            id="{{ inputConfig.id }}"
            placeholder="{{ inputConfig.placeholder }}"
            [formControl]="val"
            >
        <p>{{ val.value | duration }}</p>
    </div>
</div>
