.input-duration {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro Semibold", sans-serif;

  .input-duration__title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 12px 0 8px;
    width: 150px;

    p {
      font-size: 14px;
      color: #858997;
      margin: 0;
    }
  }
  .input-duration__field {
    display: flex;
    flex-direction: row;

    .input-duration__field_input {
      box-sizing: border-box;
      height: 40px;
      padding: 0 10px;
      border-radius: 6px;
      border: 1px solid #ced0db;
      width: 150px;

      &::placeholder {
        color: #acafbf;
        font-size: 14px;
        padding-top: 8px;
      }
    }

    p {
      margin-left: 10px;
      color: #333333;
      font-size: 14px;
    }
  }
}
