.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px;

  h1 {
    font-size: 40px;
    margin: 0;
  }

  a {
    background-color: #303240;
    line-height: 24px;
    font-size: 18px;
    font-family: "Source Sans Pro Regular", sans-serif;
    width: 100px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    height: 27px;
    width: 110px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }
}
