.coursesBlock {
  border: solid 2px grey;
  border-radius: 10px;
  margin: 10px;
}
.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.selectOp {
  border: solid 2px grey;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  background-color: rgb(245, 245, 245);
  padding: 0 5px;
}
