.about {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}
.aboutText {
  position: absolute;
  width: 500px;
  font-size: 27px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
  border: 5px solid white;
  border-radius: 10px;
  margin: 40px;
}
.cCircle {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
}
.circle {
  width: 15px;
  height: 15px;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid rgb(179, 179, 179);
}
.circle1,
.circle2,
.circle3 {
  background-color: rgb(179, 179, 179);
}
.aboutImg {
  width: 100vw;
  height: 500px;
  transition: all 0.5s ease-out;
  background: no-repeat center url("./img/about_us.jpg");
  background-size: contain;
}
.aboutImg2 {
  width: 100vw;
  height: 500px;
  transition: all 0.5s ease-out;
  background: no-repeat center url("./img/about_us2.jpg");
  background-size: contain;
}
.aboutImg3 {
  width: 100vw;
  height: 500px;
  transition: all 0.5s ease-out;
  background: no-repeat center url("./img/about_us3.jpg");
  background-size: contain;
}
@media only screen and (max-width: 1270px) {
  .about {
    margin: 0;
  }
}
@media only screen and (max-width: 1000px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutText {
    margin: 10px;
    font-size: 22px;
    position: relative;
    width: fit-content;
  }
  .aboutImg,
  .aboutImg2,
  .aboutImg3 {
    height: 300px;
  }
  .circle {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 700px) {
  .aboutImg,
  .aboutImg2,
  .aboutImg3 {
    height: 200px;
  }
}
@media only screen and (max-width: 560px) {
  .aboutText {
    margin: 0 20px;
    font-size: 20px;
  }
  .aboutImg,
  .aboutImg2,
  .aboutImg3 {
    height: 200px;
  }
}
