<div [ngSwitch]="courseBorderColor()">

    <div *ngSwitchCase="'green'">
        <section class="course border-green" [ngClass]="{'top-сourse' : topRated}">

            <div class="course__block">

                <div class="course__block_title">
                    <h3>{{course.title | uppercase}}</h3>
                    <div [ngClass]="{'fa fa-star course__block_title_star' : topRated}"></div>
                </div>

                <p class="course__block_description">{{course.description}}</p>

            </div>

            <div class="course__block2">

                <div class="course__block2_time">
                    <div class="course__block2_time_duration">
                        <img src="{{durationImg}}" alt="duration">
                        <p>{{course.duration | duration}}</p>
                    </div>
                    <div class="course__block2_time_creation">
                        <img src="{{creationImg}}" alt="creation date">
                        <p>{{course.creationDate | date: "mediumDate"}}</p>
                    </div>
                </div>

                <div class="course__block2_authors">
                    <p>{{course.author}}</p>
                </div>

                <div class="course__block2_buttons">
                    <app-button 
                        [buttonConfig]="editBtnConfig" 
                        (buttonClickEmit)="buttonEditClicked(course.id)"
                        class="edit-button">
                    </app-button>
                    <app-button 
                        [buttonConfig]="deleteBtnConfig" 
                        (buttonClickEmit)="buttonDeleteClicked(course.id)"
                        class="delete-button">
                    </app-button>
                </div>

            </div>
        </section>
    </div>

    <div *ngSwitchCase="'blue'">
        <section class="course border-blue" [ngClass]="{'top-сourse' : topRated}">

            <div class="course__block">
            
                <div class="course__block_title">
                    <h3>{{course.title | uppercase}}</h3>
                    <div [ngClass]="{'fa fa-star course__block_title_star' : topRated}"></div>
                </div>
            
                <p class="course__block_description">{{course.description}}</p>
            
            </div>
            
            <div class="course__block2">
            
                <div class="course__block2_time">
                    <div class="course__block2_time_duration">
                        <img src="{{durationImg}}" alt="duration">
                        <p>{{course.duration | duration}}</p>
                    </div>
                    <div class="course__block2_time_creation">
                        <img src="{{creationImg}}" alt="creation date">
                        <p>{{course.creationDate | date: "mediumDate"}}</p>
                    </div>
                </div>
            
                    <div class="course__block2_authors">
                        <p>{{course.author}}</p>
                    </div>

                    <div class="course__block2_buttons">
                        <app-button 
                            [buttonConfig]="editBtnConfig" 
                            (buttonClickEmit)="buttonEditClicked(course.id)"
                            class="edit-button">
                        </app-button>
                        <app-button    
                            [buttonConfig]="deleteBtnConfig" 
                            (buttonClickEmit)="buttonDeleteClicked(course.id)"
                            class="delete-button">
                        </app-button>
                    </div>
            
            </div>
        </section>
    </div>

    <div *ngSwitchCase="'grey'">
        <section class="course" [ngClass]="{'top-сourse' : topRated}">
            <div class="course__block">
            
                <div class="course__block_title">
                    <h3>{{course.title | uppercase}}</h3>
                    <div [ngClass]="{'fa fa-star course__block_title_star' : topRated}"></div>
                </div>
            
                <p class="course__block_description">{{course.description}}</p>
            
            </div>
            
            <div class="course__block2">
            
                <div class="course__block2_time">
                    <div class="course__block2_time_duration">
                        <img src="{{durationImg}}" alt="duration">
                        <p>{{course.duration | duration}}</p>
                    </div>
                    <div class="course__block2_time_creation">
                        <img src="{{creationImg}}" alt="creation date">
                        <p>{{course.creationDate | date: "mediumDate"}}</p>
                    </div>
                </div>
            
                    <div class="course__block2_authors">
                        <p>{{course.author}}</p>
                    </div>

                    <div class="course__block2_buttons">
                        <app-button 
                            [buttonConfig]="editBtnConfig" 
                            (buttonClickEmit)="buttonEditClicked(course.id)"
                            class="edit-button">
                        </app-button>
                        <app-button 
                            [buttonConfig]="deleteBtnConfig" 
                            (buttonClickEmit)="buttonDeleteClicked(course.id)"
                            class="delete-button">
                        </app-button>
                    </div>

            </div>
        </section>
    </div>

</div>