$font: "Source Sans Pro Semibold", sans-serif;
$fontSize: 14px;

.course {
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
    0 2px 10px 0 rgba(29, 30, 38, 0.15);
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 0;
  padding: 24px;
  clear: both;

  .course__block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 20px;

    .course__block_description {
      margin: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #474a59;
      font-size: $fontSize;
      font-family: $font;
      text-align: left;
    }

    .course__block_title {
      display: flex;
      align-items: center;

      h3 {
        margin: 0 10px 10px 0;
        color: #333333;
        font-size: 24px;
        font-family: $font;
      }

      .course__block_title_star {
        color: orange;
        margin-bottom: 12px;
      }
    }
  }

  .course__block2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 700px;

    .course__block2_time {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .course__block2_time_duration,
      .course__block2_time_creation {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #858997;

        img {
          margin: 0 5px 0 26px;
        }

        p {
          margin: 0;
          font-size: $fontSize;
          line-height: 18px;
          font-family: $font;
        }
      }
    }

    .course__block2_buttons {
      display: flex;
      flex-direction: row;
    }
    .course__block2_authors {
      font-size: 14px;
      margin-top: 0 !important;
      color: #858997;
    }
  }
}
.border-green {
  border: solid 2px #67a300;
}
.border-blue {
  border: solid 2px #009ecc;
}
.top-сourse {
  background-color: rgb(255, 254, 251);
}
