<div>
    <input class="box" type="text" placeholder="Type to search" [(ngModel)]="inputText">
    <app-button [buttonConfig]="textBtnConfig" (buttonClickEmit)="searchCourse()" class="searchButton"></app-button>
</div>