$font: "Source Sans Pro Semibold", sans-serif;

.course_width {
  width: 90%;
  margin: 0 auto;

  h4 {
    line-height: 24px;
    color: #464a5a;
    font-family: "Source Sans Pro Bold", sans-serif;
  }
}

.course_block {
  background-color: #f5f6fa;
  padding: 21px 0;

  .course_block_width {
    width: 90%;
    margin: 0 auto;

    .course_block_width_loadMore,
    .course_block_width_emptyContainer {
      border-radius: 6px;
      background: #ffffff;
      box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
        0 2px 10px 0 rgba(29, 30, 38, 0.15);
      height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      clear: both;
    }

    .course_block_width_emptyContainer {
      text-transform: uppercase;
      font-family: $font;
      color: #464a5a;
    }
  }
}
