<main>
  <div class="course_width">
    <h4>Courses</h4>
  </div>

  <div class="course_block">
    <div class="course_block_width">

      <app-search (searchCourseEmitter)="showSearchedCourses($event)"></app-search>

      <app-button 
        [buttonConfig]="imgBtnConfig"
        (buttonClickEmit)="addNewCourse()">
      </app-button>

      <div *ngIf="coursesList.length > 0; then showCourses; else showEmpty"></div>

      <ng-template #showCourses>
        <app-course 
          [course]="courseLi" *ngFor="let courseLi of coursesList | 
          filter:inputQuery |
          orderBy:'creationDate'; trackBy: trackCourseById" 
          (deleteEventEmitter)="deleteSelectedCourse($event)"
          (editEventEmitter)="editSelectedCourse($event)">
        </app-course>
      </ng-template>

      <ng-template #showEmpty>
        <p class="course_block_width_emptyContainer">No data. Feel free to add new courses</p>
      </ng-template>

      <div class="course_block_width_loadMore">
        <!-- <a href="#">Load More</a> -->
        <app-button 
          [buttonConfig]="loadMoreConfig" 
          (buttonClickEmit)="loadMoreCourses()">
        </app-button>
      </div>
    </div>
  </div>
</main>