.add-course {
  background-color: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333333;

  .add-course__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #464a5a;
    background-color: white;
    height: 66px;
    width: 1440px;

    .add-course__heading_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;
      line-height: 24px;
      font-family: "Source Sans Pro Regular", sans-serif;

      a {
        color: #464a5a;
        font-weight: 400;
        text-decoration: none;
      }
      h3 {
        color: #009ecc;
        margin: 0 10px;
      }
      h4 {
        margin: 0;
      }
    }
  }

  .add-course__form {
    box-sizing: border-box;
    width: 730px;
    height: 660px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.1),
      0 2px 10px 0 rgba(29, 30, 38, 0.15);
    padding: 25px;
    margin: 30px;

    .add-course__form_heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .add-course__form_heading_wrong {
        color: rgb(190, 0, 0);
        font-size: 14px;
        margin-top: 0;
      }
    }

    .add-course__form_buttons {
      float: right;
      margin: 29px 0;

      .add-course__form_buttons_save {
        font-size: 14px;
        background-color: #ced0db;
        font-family: "Source Sans Pro Regular", sans-serif;
        height: 36px;
        width: 64px;
        color: #5b616f;
        margin-top: 20px;
        border-radius: 3px;
        border: none;
        cursor: pointer;
        box-sizing: border-box;
        text-transform: none;
      }
      .add-course__form_buttons_green {
        background-color: #67a300;
        color: white;
      }
    }

    .add-course__form_title {
      .add-course__form_title_label {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 12px 0 8px;

        p {
          font-size: 14px;
          color: #858997;
          margin: 0;
        }
      }
      .add-course__form_title_input {
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid #ced0db;

        &::placeholder {
          color: #acafbf;
          font-size: 14px;
          padding-top: 8px;
          font-family: "Source Sans Pro Regular", sans-serif;
        }
      }
    }
    .add-course__form_description {
      .add-course__form_description_label {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 12px 0 8px;

        p {
          font-size: 14px;
          color: #858997;
          margin: 0;
        }
      }
      .add-course__form_description_input {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        border-radius: 6px;
        border: 1px solid #ced0db;

        &::placeholder {
          color: #acafbf;
          font-size: 14px;
          padding-top: 8px;
          font-family: "Source Sans Pro Regular", sans-serif;
        }
      }
    }
  }
}
