<div class="add-course">
    <div class="add-course__heading">
        <div class="add-course__heading_title">        
            <a routerLink="/courses">Courses</a>
            <h3>/</h3>
            <ng-container *ngTemplateOutlet="id ? edit : add"></ng-container>
            <ng-template #add>
                <h4><b>New Course</b></h4>
            </ng-template>
            <ng-template #edit>
                <h4><b>{{form.get('title')?.value}}</b></h4>
            </ng-template>
        </div>
    </div>
    <form class="add-course__form" [formGroup]="form" (ngSubmit)="submitAddForm()">
        <div class="add-course__form_heading">

            <ng-container *ngTemplateOutlet="id ? old : new"></ng-container>
            <ng-template #new>
                <h3>New Course</h3>
            </ng-template>
            <ng-template #old>
                <h4><b>{{form.get('title')?.value}}</b></h4>
            </ng-template>

            <p *ngIf="form.invalid && form.touched" 
                class="add-course__form_heading_wrong">
                Wrong value!
            </p>
        </div>

            <div class="add-course__form_title">
                <div class="add-course__form_title_label">
                    <label for="title">Title:</label>
                    <p><sup>*</sup>required</p>
                </div>
            
                <input 
                    type="text" 
                    id="title" 
                    placeholder="Text input" 
                    class="add-course__form_title_input"
                    formControlName="title"
                    >
            </div>

            <div class="add-course__form_description">
                <div class="add-course__form_description_label">
                    <label for="description">Description:</label>
                    <p><sup>*</sup>required</p>
                </div>
            
                <textarea 
                    id="description" 
                    placeholder="Add description" 
                    class="add-course__form_description_input"
                    rows="7"
                    formControlName="description"
                >
                </textarea>
            </div>

            <app-input-duration 
                [inputConfig]="inputDurationConfig"
                formControlName="duration">
            </app-input-duration>

            <app-input-date 
                [inputConfig]="inputDateConfig"
                formControlName="creationDate">
            </app-input-date>

            <app-input-authors 
                [inputConfig]="inputAuthorConfig"
                formControlName="author">
            </app-input-authors>
        
            <div class="add-course__form_buttons">
                <app-button 
                    [buttonConfig]="cancelBtnConfig" 
                    (buttonClickEmit)="buttonCancelClicked()">
                </app-button>

                <button 
                    type="submit" 
                    class="add-course__form_buttons_save"
                    [ngClass]="form.valid ? 'add-course__form_buttons_green' : ''" 
                    [disabled]="!form.valid">
                    Save
                </button>

            </div>
    </form>
</div>