.aboutUs {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 20px;
  flex-wrap: wrap;
}
.aboutCell {
  font-size: 25px;
  width: 150px;
  text-align: center;
  padding: 10px;
  margin: 20px 20px;
  margin-bottom: 0;
}
.someAbout {
  font-size: 30px;
  text-align: center;
}
.cell5,
.cell4,
.cell3,
.cell2,
.cell1 {
  width: 150px;
  height: 150px;
  background-size: cover;
  cursor: pointer;
}
.cell5 {
  background-image: url("./icons/5.png");
}
.cell4 {
  background-image: url("./icons/4.png");
}
.cell3 {
  background-image: url("./icons/3.png");
}
.cell2 {
  background-image: url("./icons/2.png");
}
.cell1 {
  background-image: url("./icons/1.png");
}
.cell5:hover {
  background-image: url("./icons/5a.png");
}
.cell4:hover {
  background-image: url("./icons/4a.png");
}
.cell3:hover {
  background-image: url("./icons/3a.png");
}
.cell2:hover {
  background-image: url("./icons/2a.png");
}
.cell1:hover {
  background-image: url("./icons/1a.png");
}
@media only screen and (max-width: 1000px) {
  .cell5,
  .cell4,
  .cell3,
  .cell2,
  .cell1 {
    width: 120px;
    height: 120px;
  }
  .aboutCell {
    font-size: 22px;
    width: 120px;
    margin: 20px 20px;
  }
}
@media only screen and (max-width: 560px) {
  .cell5,
  .cell4,
  .cell3,
  .cell2,
  .cell1 {
    width: 100px;
    height: 100px;
  }
  .aboutCell {
    font-size: 22px;
    width: 100px;
    margin: 0;
  }
}
@media only screen and (max-width: 400px) {
  .aboutCell {
    font-size: 20px;
    width: 100px;
    margin: 0;
  }
}
