* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(156, 88, 0);
}

.white {
  background-color: rgb(255, 195, 154);
}

.selected {
  background-color: rgb(207, 60, 2);
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(27, 187, 27);
}

.playerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.playerWhite {
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgb(0, 110, 255);
}

.playerBlack {
  text-transform: uppercase;
  text-shadow: 0px 0px 3px rgb(255, 0, 179);
}

.lost {
  height: calc(50vh - 60px);
  width: 180px;
  padding: 30px;
  margin-left: 50px;
  background-color: lightgrey;
  text-align: center;
}

.lostFigures {
  padding: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 90%;
}

.timersBack {
  height: calc(100vh - 60px);
  width: 180px;
  padding: 30px;
  margin-right: 50px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.timersBack h2 {
  margin-bottom: 20px;
}

.timersBack h3 {
  margin: 10px 0;
}

.resButton {
  width: 120px;
  height: 50px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(208, 228, 255);
  font-size: 16px;
}
